<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
    <main>
        <div th:replace="~{/cart/view :: shoppingCart}"></div>

        <div class="panel panel-primary">
            <div class="panel-heading">ORDER PURCHASING</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div>Customer: </div>
                        <div class="form-control" id="username">
                            Test
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Order date: </div>
                        <div class="form-control">
                            {{orders.createDate | date: 'dd-MM-yyyy'}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <div>
                            Shipping Address:
                        </div>
                        <textarea ng-model="orders.address" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button ng-click="orders.handlePurchase()" class="btn btn-warning">Purchase</button>
            </div>
        </div>
    </main>
</body>
</html>